---
import { getEntry } from "astro:content";
import type { Hendelse, Person } from "../types";
import Link from "./Link.astro";
import { getPersonDisplayName } from "../utils";
import type { ReferenceDataEntry } from "astro:content";

export interface Props {
    personId: string,
    hendelse: Hendelse;
  }
  
const { hendelse, personId} = Astro.props as Props;
const annenPerson: ReferenceDataEntry<Person> = hendelse.personer.find((p: ReferenceDataEntry<Person>) => p.id != personId)
const ektefelle = await getEntry(annenPerson)
---
<p>
    Gift med <Link href=`/person/${ektefelle.id}`>{getPersonDisplayName(ektefelle.data)}</Link>
</p>